/* ===============COMMON CSS START=============== */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

.container{
    width: 1170px;
    margin: 0 auto;  
}

img{
    display: block;
}
/* ===============COMMON CSS END=============== */

/* =================NAV START================ */
nav{
    background-color: rgba(0, 0, 0, 0.44);
    padding: 33px 0 32px;
    position: absolute;
    width: 100%;
}

nav .container{
    display: flex;
}

nav .container .logo{
    width: 20%;
}

nav .container .menu{
    width: 80%;
}

nav .container .menu ul{
    display: flex;
    justify-content: flex-end;
    column-gap: 44px;
    align-items: center;
    height: 100%;
}

nav .container .menu ul li a{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #f5f5f5;
    text-transform: uppercase;
    transition: 0.4s;
}

nav .container .menu ul li .active{
    color: #28b8d8;
}

nav .container .menu ul li a:hover{
    color: #28b8d8;
}
/* =================NAV END================ */

/* =================BANNER START================ */
#banner_part{
    background: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 331px 0 252px;
}

#banner_part .container{
    text-align: center;
}

#banner_part .container h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #ffffff;
    text-transform: uppercase;
}

#banner_part .container h2{
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 40px;
    color: #ffffff;
    text-transform: uppercase;
}

#banner_part .container p{
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 14px;
    color: #ffffff;
    /* text-transform: capitalize; */
}
/* =================BANNER END================ */

/* =================SERVICE START================ */
#service_part{
    padding: 81px 0 84px;
    background-color: #f9f9f9;
}

#service_part .title{
    text-align: center;
}

#service_part .title h2{
    font-size: 30px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
    color: #444444;
}

#service_part .title p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #666666;
    margin: 24px 0 78px;
}

#service_part .title h3{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    color: #444444;
}

#service_part .images{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#service_part .images .service_1{
    width: 370px;
    background-color: #ffffff;
    padding: 15px 15px 23px;
    border: 1px solid #e3e3e3;
}

#service_part .images .service_1 img{
    width: 100%;
}

#service_part .images .service_1 .text{
    text-align: center;
}

#service_part .images .service_1 .text h5{
    font-size: 17px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    color: #444444;
    margin: 25px 0 11px;
}

#service_part .images .service_1 .text p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #666666;
}
/* =================SERVICE END================ */

/* =================SHOTS START================ */
#shots_part{
    background-color: #2c2c2c;
    padding: 51px 0 49px;
}

#shots_part .main{
    display: flex;
}

#shots_part .shot_image{
    width: 25%;
}

#shots_part .shot_image img{
    width: 100%;
}

#shots_part .title{
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
}

#shots_part .title h2{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    color: #d5d5d5; 
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

#shots_part .title h2::after{
    content: "";
    position: absolute;
    right: -115px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 1px;
    background-color: #535353;
}

#shots_part .title h2::before{
    content: "";
    position: absolute;
    left: -115px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 1px;
    background-color: #535353;
}

#shots_part .button{
    text-align: center;
    margin-top: 60px;
}

#shots_part .button a{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #a6a6a6;
    text-transform: uppercase;
    padding: 16px 20px;
    border: 1px solid #797979;
}

#shots_part .button a i{
    margin-right: 7px;
}
/* =================SHOTS END================ */

/* =================JOURNAL START================ */
#journal_part{
    background: #f9f9f9;
    padding-top: 78px;
}

#journal_part .title{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#journal_part .title h2{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    color: #444444; 
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

#journal_part .title h2::before{
    content: "";
    position: absolute;
    left: -115px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 1px;
    background-color: #d9d9d9;
}

#journal_part .title h2::after{
    content: "";
    position: absolute;
    right: -115px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 1px;
    background-color: #d9d9d9;
}

#journal_part .container{
    display: flex;
    justify-content: space-between;
}

#journal_part .journal-card{
    width: 370px; 
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
}

#journal_part .journal-card .text{
    text-align: center;
    padding: 25px 0 22px;
}

#journal_part .journal-card .text h3{
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    color: #444444; 
    margin-bottom: 11px;

}

#journal_part .journal-card .text p{
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #999999;
}

#journal_part .journal-card .image img{
    width: 100%;
}

#journal_part .journal-card .bottom-part{
    padding: 25px 32px 25px 25px;
}

#journal_part .journal-card .bottom-part p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #666666;
}

#journal_part .journal-card .bottom-part .anchor{
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}

#journal_part .journal-card .bottom-part .anchor a{
    border-bottom: 1px solid #28b8d8;
    text-transform: uppercase;
    padding-bottom: 5px;
    font-size: 11px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #999999;
}

#journal_part .journal-card .bottom-part .anchor p{
    font-size: 11px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #999999;  
}
/* =================JOURNAL END================ */

/* =================ABOUT START================ */
#about_part{
    background-color: #f9f9f9;
    padding: 81px 0 81px;
}

#about_part .container{
    display: flex;
    /* justify-content: space-between; */
}

#about_part .container .left-side{
    width: 50%;
}

#about_part .container .left-side .title{
    margin-bottom: 30px;
}

#about_part .container .left-side .title h2{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    color: #444444; 
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

#about_part .container .left-side .title h2::after{
    content: "";
    position: absolute;
    right: -115px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 1px;
    background-color: #d9d9d9;  
}

#about_part .container .left-side .content{
    display: flex;
}

#about_part .container .left-side .content .image{
    margin-right: 27px;
}

#about_part .container .left-side .content .text .upper_p{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
    color: #666666;
    margin-bottom: 23px;
}

#about_part .container .left-side .content .text .bottom_p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #666666;
}

#about_part .container .right-side{
    width: 50%;
    padding-left: 15px;
}

#about_part .container .right-side .title{
    margin-bottom: 26px;
}

#about_part .container .right-side .title h2{
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    color: #444444; 
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

#about_part .container .right-side .title h2::after{
    content: "";
    position: absolute;
    right: -115px;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    height: 1px;
    background-color: #d9d9d9;  
}

#about_part .container .right-side .content{
    display: flex;
    margin-bottom: 30px;
}

#about_part .container .right-side .content .image{
    margin: 0 24px 0 6px;
}

#about_part .container .right-side .content .text h3{
    font-size: 17px;
    font-weight: 700;
    font-family: 'Roboto Slab', serif;
    color: #444444;
    margin-bottom: 16px;
}

#about_part .container .right-side .content .text p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #666666;
}
/* =================ABOUT END================ */

/* =================CONTACT START================ */
#contact_part{
    background-color: #373737;
    padding: 68px 0 65px;
}

#contact_part .container .contact_details{
    display: flex;
    padding-bottom: 65px;
}

#contact_part .main{
    width: 25%;
}

#contact_part .container .contact_details .main .title{
    margin-bottom: 25px;
}

#contact_part .container .contact_details .main .title h3{
    font-size: 16px;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    color: #f0f0f0; 
    text-transform: uppercase;
}

#contact_part .container .contact_details .main .Fusce{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #cacaca;
    margin-bottom: 34px;
    width: 256px;
} 

#contact_part .container .contact_details .main .address .address-detail{
    display: flex;
}

#contact_part .container .contact_details .main .address .address-detail{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #cacaca;
    width: 256px;
}

#contact_part .container .contact_details .main .text-02 p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #cacaca;
}

#contact_part .container .contact_details .main .text-02 .date{
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #929292; 
}
/* =================CONTACT END================ */

/* =================COPYRIGHT START================ */
footer{
    background-color: #333333;
    padding: 39px 0 37px;
}

footer .container .copyright p{
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: #cacaca;
}
/* =================COPYRIGHT END================ */